body{
    margin: 0px;
}

.header{
    position: sticky;
    top: 0;
    background-color: rgba(75, 55, 28);
    z-index: 1;
    
}
.header:hover{
    background-color: rgba(75, 55, 28,0.6);
}

ol{
    text-align: right;
    padding: 20px;
    margin: 0px;
}

li{
    display: inline-block;
    padding: 0px 20px;
    border-radius: 5px;
}

a{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.div-bg{
    margin: 0px;
    background-image: url('div.jpg');
    background-size: cover;
    rotate:initial;
    height: 600px;
    /* border-radius: 0px 0px 20px 20px; */
}

.div-text{
    text-align: center;
    color: antiquewhite;

}

.div-text h1{
    margin: 0px;
    font-size: 70px;
    font-family: cursive;
    padding-top: 50px;
}

.div-text p{
    font-size: 25px;
    text-transform: capitalize;
    font-style: italic;
    line-height: 40px;
}

.div-text button{
    border: none;
    background: none;
    color: antiquewhite;
    font-size: 22px;
    font-family: cursive;
    word-spacing: 5px;
    padding: 10px 20px;
}

.div-text button:hover{
    background-color: antiquewhite;
    border-radius: 30px;
    color: #66462f;
    cursor: pointer;
}

.div-text input{
    background-color: rgba(0, 0, 0,0.4);
    border-radius: 5px;
    padding: 20px ; 
    border: none;
    margin-top: 20px;
    width: 300px;
    font-size: 20px;
    color: #bba89a;
}

.div-text input:hover{
    background-color: rgba(0, 0, 0,0.7);
}

::placeholder{
    color: #a2846e;
    text-align: center;
    font-size: 20px;
}

.div1-bg{
    background-color: #231709;
    margin: 20px 50px;
    border-radius: 10px;
}

.section3 p{
    background-color: rgb(236, 232, 227);
    color: #231709;
    font-family: fantasy;
    font-size: 40px;
    margin: 5px 0px;
    text-align: center;
    text-transform: uppercase;
    /* height: 600px; */
}

.coffee{
    float: left;
    width: 50%;
    padding-left: 100px;
}
.non-coffee{
    float: right;
    width: 50%;
}

table,td{
    /* width:70%; */
    padding:10px 30px;
    color: antiquewhite;
    font-size: 20px;
    font-family: cursive;
    padding: 5px 30px;
    text-align: left;

}

table caption{
    font-family: fantasy;
    font-size: 30px;
    margin: 5px 0px;
    text-align: center;
    text-transform: uppercase;
}

.section2{
    margin:20px 50px;
    border-radius: 20px;
    background-image:linear-gradient(to bottom right,#bba89a,#a2846e,#66462f);
    height: 500px;
}

.div2 .para1{
    margin: 0px;
    padding:20px 20px;
    color: #4b371c;
    letter-spacing: 7px;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;  
    text-decoration: underline;
}

.div2 .para2{
    margin:10px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #66462f;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.gallery{
    text-align: center;
}

.gallery img{
    border: 2px solid #66462f;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.con{
    padding:10px 0px;
    /* border-right: 2px solid #a2846e; */
}

.con h3{
    background-color: rgb(236, 232, 227);
    color: #231709;
    font-family: fantasy;
    font-size: 40px;
    margin: 5px 0px;
    text-align: center;
    text-transform: uppercase;
}

.con p{
    color: antiquewhite;
    text-align: center;
    line-height: 25px;
    font-family: cursive;
}
